@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Color and font config */
:root {
--font-family: 'Ubuntu', sans-serif;

--background-color: #fff;
--foreground-color: #242424;

--color-primary: #4c7aaf;
--color-primary-dark: #314f72;

--color-success: #6da86d;
--color-success-dark: #518151;

--color-info: #F0AD4E;
--color-info-dark: #c78f40;

--color-danger: #ca4747;
--color-danger-dark: #9b3636;

--color-dark: #343a40;
--color-light: rgb(211, 211, 211);
--color-md-light: rgb(172, 172, 172);

--text-light: whitesmoke;
--text-dark: #242424;
}

.invert {
  color: var(--background-color);
}

/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

/* Page */
.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  box-shadow: 1px 1px 15px 2px var(--foreground-color);
}


/* Headers */
.h-thin {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.75em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1em;
}

/* Buttons */
button {
    --bg-color: var(--color-primary);
    --text-color: var(--text-light);
    --border-color: var(--color-primary-dark);

    background-color: var(--bg-color);
    padding: 10px 20px;
    text-align: center;
    color: var(--text-color);
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-left: none;
    border-right: none;
    border-top: 2px solid var(--bg-color);
    border-bottom: 4px solid var(--border-color);
}

button.text-dark {
  --text-color: var(--text-dark)
}

button:hover:not(.btn-disabled) {
    color: var(--text-color);
    box-shadow: inset 0 0 8px #000000;
    border: none;
    padding: 12px 20px;
}

.btn-success {
  --bg-color: var(--color-success);
  --border-color: var(--color-success-dark);
}

.btn-danger {
  --bg-color: var(--color-danger);
  --border-color: var(--color-danger-dark);
  font-weight: bold;
}

.btn-info {
  --bg-color: var(--color-info);
  --border-color: var(--color-info-dark);
}

.btn-disabled {
  --bg-color: var(--color-light);
  --border-color: var(--color-light);
}

/* links, anchor tags */
a {
  --text-color: var(--color-primary-dark);

  color: var(--text-color);
  text-decoration: none;
}

a.text-light {
  --text-color: var(--text-primary-light);
}

a:hover {
  text-decoration: underline;
}

/* Padding */

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4em;
}

/* Code tag */
pre {
  padding-top: 10px;
  padding-left: 20px;
  border: none;
  font-family: monospace;
  background-color: var(--color-light);
  tab-size: 2;
  white-space: pre-wrap;  
}